body {
    background-color: white;
}

#Title{
    color:darkcyan;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#result {
    font-size: 24px;
    margin-top: 30px;
}

#bienvenida{
    text-align: center;
    color: red;
}

#textoBienvenida{
    font-size: 20px;
}

#lista{
    font-size: 20px;
}
#lista2{
    font-size: 20px;
}

#resaltar{
    font-weight: bold;
    color: darkgreen;
}

#blue{
    color:rgb(16, 88, 160)
}