body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80)), url('fondo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}




#Title {
    color: #2e424d; /* Color de título azul */
    font-weight: bold;
}

#textoBienvenida {
    font-size: 20px;
}

#lista2 {
    font-size: 15px;
}

#resaltar {
    font-weight: bold;
    color: #5b8291;/* Color de resaltado verde oscuro */
}

#lista {
    font-size: 1.1em; /* Tamaño de fuente más grande */
}

/* Estilos para el footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%; /* Fondo gris claro */
}

.text-muted {
    color: white; /* Color de texto gris */
}

#result{
    font-size: 30px;
    font-weight: bold;
    color: green;
}
#resaltar2{
    font-weight: bold;
    color: crimson;/* Color de resaltado verde oscuro */
}
